body{
  background-color: #99AEAD;
  height: 100%;
}

.container {
  max-width: 960px;
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height:30px;

}
.filter {
  height:30px;
}

.child-1 {
  display:inline-block;
  text-align:center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bg-img-index {
  background-image: url(images/indexheader.jpg);
  min-height:380px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  width: 960px;
  height: 400px;
}

.bg-img-about {
  background-image: url(images/aboutusheader.jpg);
  min-height:380px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  width: 960px;
  height: 400px;
}

.bg-img-docu {
  background-image: url(images/docuheader.jpg);
  min-height:380px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  width: 960px;
  height: 400px;
}

.bg-img-favorites {
  background-image: url(images/favoritesheader.jpg);
  min-height:380px;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  position:relative;
  width: 960px;
  height: 400px;
}
.topnav{
  display:flex;
  justify-content:space-between;
  letter-spacing: 2px;
  word-spacing: 5px;
  overflow:hidden;
  background-color: #6d9197;
  width:100%;
}
.topnav a{
  display: inline-block;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*float:left;*/
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration:none;
  font-size: 17px;
}
.topnav a:hover{
  background-color: azure;
  color:lightsteelblue;
}

.p{
  font-weight: bold;
}

.h1{
  font-weight: bold;
  text-transform: capitalize;
}

.bottom{
  text-align: center;
  line-height: 1.6;
}

.card {
  border: 1px solid black;
  padding: 10px;
  display:inline-block;
  text-align:right;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}