.menu {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.wrapper .header .navigation .dropdown {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    justify-content: flex-start;
}

.wrapper .header .navigation .title {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    justify-content: flex-start;
}

.wrapper .header .navigation .searchcontainer {
    position: fixed;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    box-sizing: border-box;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
  }

.dropdown:hover .menu {
    background-color: #3e8e41;
}
