#search-submit {
  height: 30px;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #99aead;
  height: 100%;
}

.container {
  max-width: 960px;
  background-color: whitesmoke;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  width: 300px;
  height: 30px;
  font-family: "Montserrat", sans-serif;
}
.filter {
  height: 30px;
  font-family: "Montserrat", sans-serif;
}

.child-1 {
  display: inline-block;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.bg-img-index {
  background-image: url(images/indexheader.jpg);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 960px;
  height: 400px;
}

.bg-img-about {
  background-image: url(images/aboutusheader.jpg);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 960px;
  height: 400px;
}

.bg-img-docu {
  background-image: url(images/docuheader.jpg);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 960px;
  height: 400px;
}

.bg-img-favorites {
  background-image: url(images/favoritesheader.jpg);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 960px;
  height: 400px;
}

.bg-img-faqs {
  background-image: url(images/faqsheader.jpg);
  min-height: 380px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 960px;
  height: 400px;
}

.topnav {
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  word-spacing: 5px;
  overflow: hidden;
  background-color: #6d9197;
  width: 100%;
}
.topnav a {
  display: inline-block;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  /*float:left;*/
  color: aliceblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: azure;
  color: lightsteelblue;
}

.p {
  font-weight: bold;
}

.h1 {
  font-weight: bold;
  text-transform: capitalize;
}

.bottext {
  text-align: center;
  line-height: 1.6;
}
div.info,
img {
  display: flex;
  flex-direction: column;
}

ul.ulist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.card {
  width: auto;
  border-top-color: #dee1dd;
  border-top-style: solid;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}

p, li{
  font-family: "Montserrat", sans-serif;
}

h2 {
  font-family: "Montserrat", sans-serif;
  text-decoration: underline;
}
.bott {
  border-style: solid;
  border-color: #dee1dd;
  background-color: white;
  width: 100%;
  border-width: 5px;
}

h1 {
  text-decoration: underline;
}
